{% extends "layout.html" %}
{% block title %}{{ super() }} — {{ data.title }}{% endblock %}

{% block content %}
<h1 class="text-3xl font-semibold mb-6 text-center text-gray-800">How is This Scale?</h1>
<p class="text-gray-600 text-center mb-6">Click the keys to display the desired scale.</p>
<div style="display: flex; justify-content: center;" class="mb-8">
    <img src="{{ url_for('static', filename='images/PianoKeyboardNames.png') }}" usemap="#pianomap" style="max-width: 70%; height: auto;">
</div>

<map name="pianomap">
    <!-- Black sharp keys (overlap with the white keys) 636 -->
    <area shape="rect" coords="111,0,215,318" href="/scale/c-sharp" alt="Do#/Reb" title="Do♯">
    <area shape="rect" coords="334,0,437,318" href="/scale/d-sharp" alt="Re#/Mib" title="Re♯">
    <area shape="rect" coords="652,0,755,318" href="/scale/f-sharp" alt="Fa#/Solb" title="Fa♯">
    <area shape="rect" coords="859,0,962,318" href="/scale/g-sharp" alt="Sol#/Lab" title="Sol♯">
    <area shape="rect" coords="1073,0,1177,318" href="/scale/a-sharp" alt="La#/Sib" title="La♯">

    <!-- Black flat keys (overlap with the white keys) -->
    <area shape="rect" coords="111,319,215,636" href="/scale/d-flat" alt="Do#/Reb" title="Re♭">
    <area shape="rect" coords="334,319,437,636" href="/scale/e-flat" alt="Re#/Mib" title="Mi♭">
    <area shape="rect" coords="652,319,755,636" href="/scale/g-flat" alt="Fa#/Solb" title="Sol♭">
    <area shape="rect" coords="859,319,962,636" href="/scale/a-flat" alt="Sol#/Lab" title="La♭">
    <area shape="rect" coords="1073,319,1177,636" href="/scale/b-flat" alt="La#/Sib" title="Si♭">

    <!-- White keys  -->
    <area shape="rect" coords="0,0,183,954" href="/scale/c" alt="Do (Si#)" title="Do (Si♯)">
    <area shape="rect" coords="183,0,366,954" href="/scale/d" alt="Re" title="Re">
    <area shape="rect" coords="366,0,549,954" href="/scale/e" alt="Mi (Fab)" title="Mi (Fa♭)">
    <area shape="rect" coords="549,0,731,954" href="/scale/f" alt="Fa (Mi#)" title="Fa (Mi♯)">
    <area shape="rect" coords="731,0,914,954" href="/scale/g" alt="Sol" title="Sol">
    <area shape="rect" coords="914,0,1097,954" href="/scale/a" alt="La" title="La">
    <area shape="rect" coords="1097,0,1280,954" href="/scale/b" alt="Si (Dob)" title="Si (Do♭)">
</map>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/image-map-resizer/1.0.10/js/imageMapResizer.min.js"></script>
<script>
    $(document).ready(function() {
        $('map').imageMapResize();
    });
</script>
{% endblock %}