{% extends "layout.html" %}
{% block title %}{{ super() }} — {{ data.title }}{% endblock %}

{% block content %} 
<h1 class="text-3xl font-semibold mb-3 text-center text-gray-800">{{ data.name.capitalize() }}</h1>
<h2 class="text-2xl italic mb-12 text-center text-gray-400">{{ data.mode.capitalize() }} scale</h2>
<!-- <div class="centered-box w-128 h-1/2 mx-auto"></div> -->
{% if data.score_path %}
<div class="centered-box w-128 h-1/2 mx-auto">
        <img src="{{ url_for('static', filename='images/output/scale-1.png') }}" alt="{{ data.name }} {{ data.mode }} scale musical score" class="mx-auto my-4">
</div>
{% endif %}
<!-- <p class="mb-6">{{ data.scale.scale }}</p>
<p class="mb-6">{{ data.scale.chords }}</p> -->

<div class="notes-text text-center">
    <h3 class="font-semibold mb-3">Notes</h3>
    <p class="mb-6">
    {% for note in data.scale.scale %}
        {{ note }}{% if not loop.last %} - {% endif %}
    {% endfor %}
    </p>
</div>
<div class="text-center ">
    <h3 class="font-semibold mb-3">Chords</h3>
    <p class="mb-6">
    {% for chord in data.scale.chords %}
        {{ chord }}{% if not loop.last %} - {% endif %}
    {% endfor %}
    </p>
</div>
<!-- {{ data.scale.scale }} -->
<div class="button-container">
    <!-- Parallel mode: turns Major into Minor and viceversa -->
    <button type="button" id="toggle_major_minor" class="submit-button" data-mode="{{ data.mode }}">
        <b>{{ 'Major' if data.mode.lower() == 'minor' else 'Minor' }} scale</b>
    </button>
    <!-- Relative mode: switch to the sixth mode and viceversa -->
    <button type="button" id="toggle_relative" class="submit-button" data-relative="{{ data.relative }}" data-mode="{{ data.mode }}">
        <b>Relative mode</b>
    </button>
    <!-- Switch accidentals: turns Flat into Sharps and viceversa -->
    {% if data.enharmonic.lower() != data.name.lower() %} 
    <button type="button" id="toggle_sharp_flat" class="submit-button" data-is-flat="{{ 'true' if data.is_flat else 'false' }}" data-enharmonic="{{ data.enharmonic }}">
        <b>As {{ 'Flat' if data.is_flat == false else 'Sharp' }} notes</b>
    </button>
    {% endif %}
    <!-- <a href="/chords/" class="submit-button"><b>Chords</b></a> -->
</div>

<div class="mt-4 flex justify-center">
    <a href="/scales" class="px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-gray-500"><b>Go back</b></a>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/scale.js') }}"></script>
{% endblock %}